@import '../scss/variables';

article {
  position: relative;
  background-color: $color-blue;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 100px 0 100px 0;
  &.bkg-size-50 {
    background-size: 50%;
  }
  &.bkg-size-100 {
    background-size: 100%;
  }
  &.bkg-left-top {
    background-position: left top;
  }
  &.bkg-right-top {
    background-position: right top;
  }
  &.bkg-left-center {
    background-position: left center;
  }
  &.bkg-right-center {
    background-position: right center;
  }
  &.bkg-left-bottom {
    background-position: left bottom;
  }
  &.bkg-right-bottom {
    background-position: right bottom;
  }

  &.quer {
    padding: 13.25% 0 100px 0;
  }

  .scroll-target,.car {
    position: relative;
  }

  .car {
    margin-top: -18%;
  }
  .passion-day-headline {
    font-size: calc(0.6 * #{$font-size-headline-passion-day});
    //font-size: $font-size-headline-passion-day;
    font-weight: bold;
    font-style: italic;
    color: $color-white;
  }
  // .image-1 {
  //   background-image: url(../assets/csm_thema_buehne.jpg);
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: 50% 0px;
  //   height: 150px;
  // }

}

section {
  padding: ($container-gutters * 2) 0;
  .row-auto {
    position: relative;
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.25);
  nav {
    >div {
      padding: 0 0 $container-gutters 0;
    }

  }
}

@media (min-width: $screen-xs-min) {
  article {
    .passion-day-headline {
      font-size: calc(0.7 * #{$font-size-headline-passion-day});
    }
  }
}
@media (min-width: $screen-sm-min) {
  article {
    .passion-day-headline {
      font-size: calc(0.8 * #{$font-size-headline-passion-day});
    }
  }
  section {
    padding: ($container-gutters * 3) 0;
  }
}
@media (min-width: $screen-md-min) {
  article {
    .passion-day-headline {
      font-size: calc(0.9 * #{$font-size-headline-passion-day});
    }
  }
  section {
    padding: ($container-gutters * 4) 0;
  }
}
@media (min-width: $screen-lg-min) {
  article {
    .passion-day-headline {
      //font-size: calc(#{$font-size-headline-passion-day} * width / 100);
      font-size: $font-size-headline-passion-day;
    }
  }
}
