//@import '../scss/variables';

section .image-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0px;
  min-height: 160px;
}

//@media (min-width: $screen-sm-min) {}
