@import './scss/mixins';
@import './scss/variables';
@import './scss/juiced/juiced.scss';
@import './scss/font';

html,body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: $color-dark;
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: $font-weight-default;
  line-height: $line-height-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  overflow-x: hidden;
  color: $color-light;
}

article {
  //padding: $container-gutters 0 $container-gutters 0;
  border-bottom: 1px dashed $color-white;
}

footer {
  display: block;
  margin-top: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  position: relative;
  font-weight: normal;
  color: $color-primary;
  line-height: $line-height-default;
  margin: 0 0 1.0rem 0;
}

a {
  font-size: $font-size-a;
  &:hover {
    color: $color-light;
    text-decoration: underline;
  }
}

h1 {
  font-family: $font-family-headlines;
  font-weight: bold;
  font-size: $font-size-h1;
  margin-bottom: 12px;
  line-height: 0.9;
  letter-spacing: 2px;
}

h2 {
  font-family: $font-family-headlines;
  font-weight: bold;
  font-size: $font-size-h2;
  line-height: 0.9;
  letter-spacing: 1px;
}

h3 {
  font-family: $font-family-headlines;
  font-weight: bold;
  font-size: $font-size-h3;
  line-height: 0.9;
}

h4 {
  font-family: $font-family-headlines;
  font-weight: bold;
  font-size: $font-size-h4;
  line-height: 0.9;
}

h5 {
  font-weight: normal;
  font-size: $font-size-h5;
}

h6 {
  font-weight: normal;
  font-size: $font-size-h6;
}

ul,
ol {
  padding-left: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
}

p {
  font-family: $font-family;
  font-size: $font-size-p;
}

@include juiced-rows;

@media (max-width: $screen-sm-min) {
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: $line-height-default-small-device;
  }

  h1 {
    //font-size: $font-size-mobile-h1;
    line-height: 0.9;
  }

  h2 {
    font-size: $font-size-mobile-h2;
  }

  h3 {
    font-size: $font-size-mobile-h3;
  }

  h4 {
    font-size: $font-size-mobile-h4;
  }
}

:focus-visible {
  outline: 0;
}

//@import './scss/upload';
@import './scss/gui';
